<div class="event-item">
  <img src="{{image}}" alt="" class="event-img" />
  <h3 class="event-name">{{name}}</h3>
  <h3 class="event-date">{{date}}</h3>
  <h3 class="event-city">{{city}}</h3>
  <h3 class="event-category">{{category}}</h3>
</div>